*.log linguist-detectable=false
logs/** linguist-detectable=false
nbproject/** linguist-detectable=false
nbactions.xml linguist-detectable=false
*.form linguist-detectable=false
target/** linguist-detectable=false

